body {
    padding: 0;
    margin: 0 auto;
    overflow-x: hidden;
}

@font-face {
    font-family: 'Regular';
    src: url('../fonts/AeonikTRIAL-Regular\ \(1\).otf') format('opentype');
    /* Add other font formats if needed */
    /* Make sure to update the file path accordingly */
}

.maindiv {
    width: 100%;
    height: 40vh;
    border: 2px solid red;
}

.footer-1 {
    width: 100%;
    height: 70px;
    margin-top: 10px;
    border: 2px solid yellow;
    background-color: black;
    display: grid;
    grid-template-columns: 0.4fr 3fr 1fr;
}

.footer-1-grid1 {
    border: 2px solid red;
}

.footer-1-grid2 {
    border: 2px solid rgb(110, 10, 249);
}

.footer-1-grid3 {
    border: 2px solid rgb(249, 246, 246);
}

.logo {
    width: 100%;
    height: 100%;
}

.footer-1-grid2 {
    display: flex;
    gap: 10px;
}

.footer-1-follow {
    color: white;
    margin-top: 20px;
    margin-left: -10px;

}

/* SocialMediaIcons.module.css */
.social-icons {
    display: flex;
    gap: 15px;
    /* Adjust the gap as needed */
    margin-left: 66%;
    margin-top: 5px;
}

.icon {
    font-size: 18px;
    color: #f4eeee;
    width: 25px;
    height: 25px;
    transition: color 0.3s;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 20px;
}

.icon:hover {
    color: #007bff;
}

.footer-1-grid3 {
    display: flex;
    border: 2px solid red;
    background-color: black;

}

.back {
    color: white;
    margin-top: 23px;
    margin-left: 50px;
    font-family: Regular;
    cursor: pointer;
}

.up-arrow {
    color: white;
    margin-top: 23px;
    margin-left: 10px;
}
.icons-name{
    width: 30px;
    height: 30px;
    margin-top: 12px;
    border-radius: 50%;
    border: 2px solid white;
}
.linkedin {
   margin-left: 5px;
   margin-top: 5px;
   color: white;
}
.footer-2{
    width: 100%;
    border: 3px solid red;
    margin-top: 10px;
}
.footer-2 ul {
    display: flex;
    gap: 25px;

}

.list-items {
    list-style: none;
    /* Remove default bullet points */
    padding: 0;
    /* Remove default padding */
}

.list-item {
    margin-bottom: 10px;
    /* Adjust spacing between list items */
    cursor: pointer;
    margin-left: 30px;
}

.line-break-container {
    display: flex;
    /* Make the container take up the full width */
    margin-top: 40px;
    /* Adjust margin as needed */
    margin-left: -80.7%;
    
}
.rights{
    margin-left: 30px;
}